doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Eze Nmezi
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='images/favicon.ico')
    //if IE
      link(rel='shortcut icon', href='images/favicon.ico')
    // Optional: Android & iPhone
    link(rel='apple-touch-icon-precomposed', href='images/favicon-152.png')
    // Optional: IE10 Tile.
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='images/favicon-144.png')
    // Optional: ipads, androids, iphones, ...
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='images/favicon-152.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/favicon-144.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='images/favicon-120.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/favicon-114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/favicon-72.png')
    link(rel='apple-touch-icon-precomposed', href='images/favicon-57.png')

  body

    header.bird-boxes
      .back-bird
      .logo
      .fore-bird
      .barshade


    section.content

      article

        h1 Unique e-Style

        hr

        .clothes-pics
            .row.img-row
              figure.columns.four
                img(src="images/model1.jpg")
                figcaption Blackbird Sweater - <strong>$15</strong>
              figure.columns.four
                img(src="images/model2.jpg")
                figcaption Blackbird Sweater - <strong>$25</strong>
              figure.columns.four
                img(src="images/model3.jpg")
                figcaption Blackbird Sweater - <strong>$75</strong>

            .row.img-row
              figure.columns.four
                img(src="images/model1.jpg")
                figcaption Blackbird Sweater - <strong>$5</strong>
              figure.columns.four
                img(src="images/model2.jpg")
                figcaption Blackbird Sweater - <strong>$5</strong>
              figure.columns.four
                img(src="images/model3.jpg")
                figcaption Blackbird Sweater - <strong>$5</strong>

            .row.img-row
              figure.columns.four
                img(src="images/model1.jpg")
                figcaption Blackbird Sweater - <strong>$5</strong>
              figure.columns.four
                img(src="images/model2.jpg")
                figcaption Blackbird Sweater - <strong>$5</strong>
              figure.columns.four
                img(src="images/model3.jpg")
                figcaption Blackbird Sweater - <strong>$5</strong>










        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.

        hr


        h1 Fine Tayloring

        hr

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.

        hr

        .large-window
          .window-tint
            .promo-text Eze's Suits
              strong <span>from</span> $199
              a(href="").window-cta Buy Me



        h1 Rich History

        hr

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.

        hr


        .blog-posts.row

          .post.columns.four.post-1
            h5 Post Title
            img(src="images/posts/one.jpg")
            p Incididunt ut labore et dolore magna.
            p: a.button(href="")  More info

          .post.columns.four.post-2
            h5 Post Title
            img(src="images/posts/two.jpg")
            p Lorem ipsum dolor sit amet.
            p: a.button(href="") Read dude

          .post.columns.four.post-3
            h5 Post Title
            img(src="images/posts/three.jpg")
            p Duis aute irure dolor in reprehenderit.
            p: a.button(href="") Read More Dude

    footer
      .row.footer-stuff
        .columns.three
          strong STAY IN TOUCH WITH ME
          ul
            li: a(href="") Twitter
            li: a(href="") Facebook
            li: a(href="") LinkedIN
            li: a(href="") Instagram

        .columns.three
          strong OTHER STUFF
          ul
            li: a(href="") Red Robin
            li: a(href="") Emerald Eagle
            li: a(href="") Crimson Crane
            li: a(href="") Auburn Abbot

        .columns.six
          p <strong>Sign Up for the newsletter</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.

          form.row
            .columns.eight
              input.u-full-width(type="email" placeholder="Your Email")
            .columns.four
              input.button-primary(type="submit")


    script(src="js/jquery-2.1.3.min.js")
    script(src="js/functions.js")
