doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Eze Nmezi
    meta(name="description", content="A personal website that illustrate my career path and current skills")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='images/favicon.ico')
    //if IE
      link(rel='shortcut icon', href='images/favicon.ico')
    // Optional: Android & iPhone
    link(rel='apple-touch-icon-precomposed', href='images/favicon-152.png')
    // Optional: IE10 Tile.
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='images/favicon-144.png')
    // Optional: ipads, androids, iphones, ...
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='images/favicon-152.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/favicon-144.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='images/favicon-120.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/favicon-114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/favicon-72.png')
    link(rel='apple-touch-icon-precomposed', href='images/favicon-57.png')

  body

    header.bird-boxes
      .back-bird
      .logo
      .fore-bird
      .barshade


    section.content

      article

        h1 My Work

        hr

        .clothes-pics
            .row.img-row
              figure.columns.two
                img(src="images/brand1.jpg")
                figcaption Drupal, WordPress, Moodle<strong>+</strong>
              figure.columns.two
                img(src="images/brand2.jpg")
                figcaption Drupal, Wix, CSS3
              figure.columns.two
                img(src="images/brand3.jpg")
                figcaption HTML5, FLASH, ActionScript
              figure.columns.two
                img(src="images/brand4.jpg")
                figcaption InDesign, Quark, SAP, MSOffice
              figure.columns.two
                img(src="images/brand5.jpg")
                figcaption Package Design, Illustrator
              figure.columns.two
                img(src="images/brand6.jpg")
                figcaption Final Cut, Cinematography, Premiere

            .row.img-row
              figure.columns.two
                img(src="images/brand7.jpg")
                figcaption Photoshop, Branding, Photography, ASP
              figure.columns.two
                img(src="images/brand8.jpg")
                figcaption Tradeshow, Digital Signage, Billboards
              figure.columns.two
                img(src="images/brand9.jpg")
                figcaption Interactive DVD, ActionScipt, Javascript
              figure.columns.two
                img(src="images/brand10.jpg")
                figcaption UX Design, PHP, ASP, SQL, Branding, Social Media
              figure.columns.two
                img(src="images/brand11.jpg")
                figcaption Flash, SEO, SMM, Animation
              figure.columns.two
                img(src="images/brand12.jpg")
                figcaption Drupal, Photography, Project Management










        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.

        hr


        h1 My Skills

        hr

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.

        hr

        .large-window
          .window-tint
            .promo-text Give me a Call
              strong <span>Cell 416-SER-IOUS </span>
              a(href="").window-cta Call Now



        h1 I'm looking foward to hearing from you

        hr

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.

        hr


        .blog-posts.row

          .post.columns.four.post-1
            h5 Post Title
            img(src="images/posts/one.jpg")
            p Incididunt ut labore et dolore magna.
            p: a.button(href="")  More info

          .post.columns.four.post-2
            h5 Post Title
            img(src="images/posts/two.jpg")
            p Lorem ipsum dolor sit amet.
            p: a.button(href="") Read dude

          .post.columns.four.post-3
            h5 Post Title
            img(src="images/posts/three.jpg")
            p Duis aute irure dolor in reprehenderit.
            p: a.button(href="") Read More Dude

    footer
      .row.footer-stuff
        .columns.three
          strong STAY IN TOUCH WITH ME
          ul
            li: a(href="") Twitter
            li: a(href="") Facebook
            li: a(href="") LinkedIN
            li: a(href="") Instagram

        .columns.three
          strong OTHER STUFF
          ul
            li: a(href="") Red Robin
            li: a(href="") Emerald Eagle
            li: a(href="") Crimson Crane
            li: a(href="") Auburn Abbot

        .columns.six
          p <strong>Sign Up for the newsletter</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.

          form.row
            .columns.eight
              input.u-full-width(type="email" placeholder="Your Email")
            .columns.four
              input.button-primary(type="submit")


    script(src="js/jquery-2.1.3.min.js")
    script(src="js/functions.js")
